@(implicit current: Int, finalPage: Boolean = false)

<nav role="menubar" class="js-stick-at-top-when-scrolling">

    <div class="nav-header"></div>

    @navigationEntry(1, "Start your report")
    @navigationEntry(2, "Offender Details")
    @navigationEntry(3, "Sentencing Court Details")
    @navigationEntry(4, "Sources of Information")
    @navigationEntry(5, "Offence Details")
    @navigationEntry(6, "Offender Assessment - Issues")
    @navigationEntry(7, "Offender Assessment")
    @navigationEntry(8, "Pattern of Offending")
    @navigationEntry(9, "Risk Assessment")
    @navigationEntry(10, "Risk of Serious Harm")
    @navigationEntry(11, "Proposal")
    @navigationEntry(12, "Signature")

    @if(!finalPage) {

        <div class="nav-header margin-top large"></div>

        <p class="font-xsmall">You can save your progress as a draft report and come back to it later</p>

        <a href="#" id="exitButton" class="nav-item">Save &amp; Exit</a>
    }

</nav>