@import helper._
@import org.webjars.play.WebJarsUtil
@this(implicit webJarsUtil: WebJarsUtil)

@(parameters: String)

@main("Demo - Short Format Pre Sentence Report", true) {

  <h1 class="heading-xlarge">Short Format Pre-Sentence Report</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="lede">Demo</h2>

      <a class="button margin-top large" href="/report/shortFormatPreSentenceReport?@parameters">Start demo</a>

    </div>
    <div class="column-one-third">

    </div>
  </div>

}
